@import "tailwindcss";

/* Optional: Basic reset to ensure smooth rendering */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}